# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods / Carthage (unused, but ignored)
Pods/
Carthage/Build/

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
